.mat-card-header {

  height: 75px;
}

.mat-card-title {
  font-size: 1.5em;
  font-weight: bold;
}

.card-image {
  display: block;
  height: auto;
  max-height: 350px;
  max-width: 350px !important;
  width: auto;
}
