<div>
  <md-tab-group>
    <md-tab *ngFor="let category of categoryData;">
      <ng-template md-tab-label>
        <md-icon svgIcon='{{ category.category.icon }}'></md-icon> {{ category.category.name }}
      </ng-template>
      <h1>{{ category.name }}</h1>
      <md-card *ngFor="let product of category.products">
        <md-card-header>
          <md-card-title fxFlex>{{ product.name }}</md-card-title>
        </md-card-header>
        <div fxLayout="column" fxLayout.gt-xs="row">
          <img ngClass.gt-xs="card-image" md-card-image [src]="product.image.url" fxFlex.gt-xs="25">
          <span fxFlex.gt-xs="5"></span>
          <md-card-content fxFlex.gt-xs="65">
            <p>
              {{ product.description.extended }}
            </p>
          </md-card-content>
        </div>
      </md-card>
    </md-tab>
  </md-tab-group>
</div>
