<div>

  <div class="hero">
    <md-tab-group [selectedIndex]="selectedTab">
      <md-tab *ngFor="let banner of banners; let i = index" [label]="banner.name">

        <img [src]="banner.image.url"/>
        <div class="text-overlay">
          <div class="name">Barrel + Brine</div>
          <div class="tagline">Fine Ferments</div>
        </div>
      </md-tab>
    </md-tab-group>

  </div>

  <section class="mat-typography">
    <div class="content">
      <h1 class="mat-display-1">Hand-crafted pickles and ferments made in Buffalo, NY</h1>
      <swiper [config]="config">
        <div class="swiper-wrapper">
          <div class="swiper-slide" *ngFor="let product of products; let i = index">
            <img [src]="product.image.url">
          </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </swiper>


      <swiper [config]="config">
        <div class="swiper-wrapper">
          <div class="swiper-slide" *ngFor="let photo of igPics; let i = index">
            <img [src]="photo.images.low_resolution.url">
          </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </swiper>


      <div class="social gray-bg">
        <fb-like href="https://www.facebook.com/barrelnbrine"></fb-like>
      </div>

    </div>
  </section>

</div>
